<div class="col-lg-3">

	<div class="panel panel-default">
		<div class="panel-heading">

			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6" align="left">
						<h5>Contacts</h5>
					</div>

					<div class="col-lg-6" align="right">	
						{{new-button name="New" action="redirectToNew"}}
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12" align="left">
						{{view Ember.TextField value=search placeholder="search" classNames="search"}}
					</div>
				</div>	
			</div>
			
		</div>
				
			

		<div class="list-group">
			{{#each contact in contacts}}
				{{#link-to 'contact' contact class="list-group-item"}}
					{{contact.fullName}}
				{{/link-to}}
			{{/each}}
		</div>
	</div>
	
</div>

<div class="col-lg-9">
	{{outlet}}
</div>